# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TAShowCaseProject.iml
# Datasource local storage ignored files
/../../../../../:\TAShowCaseProject\.idea\.idea.TAShowCaseProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
